<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/burger-favicon.ico">
  <title>{Memoz}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">{Memoz}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMemoz"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMemoz">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/about">ABOUT US</a>
          <a class="nav-item nav-link" href="/contact">CONTACT US</a>
        </div>
      </div>
    </div>
  </nav>

<body>
  <div class="container">