<%- include('partials/header.ejs'); -%>

<div id="compose">
    <div class="card">
        <div class="card-header">
            <h2>Compose</h2>
        </div>
        <div class="card-body">
            <form action="/compose" method="POST">
                <div class="form-group">
                    <label for="postTitle">Post Title</label>
                    <input type="text" class="form-control" name="postTitle">
                </div>
                <div class="form-group">
                    <label for="postContent">Content</label>
                    <textarea class="form-control" rows="10" cols="30" name="postContent"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs'); -%>